.main{
    position:relative;

}
.main::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(146, 204, 255);
    background-repeat: repeat;
    background-size:cover;
    filter:blur(5px);
    z-index:-1;
}
.navbar{
    display:flex;
    flex-direction:row;
    background-color:#712cf9;
    align-items:center;
    border-radius:10px;
    height:50px;
}
.navleft{
    flex:2;
margin-left:40px;
min-width:500px;
}
.navright{
    flex:.5;
    min-width:200px;
}
.navitem{
display:inline;
margin-left:20px;

}

.navitem a{
    color:aliceblue;
    text-decoration:none;
}
.navitem a:hover{
    color:#59a9ff;
}
.socialplat{
    display:inline;
}
.gicon{
    width:30px;
    border-radius:15px;
}
.pfimg{
    height:300px;
    width:200px;
    border-radius:10px;
    object-fit:cover;
}
#about{
    margin-top:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:10px;
    background-color:#fbe4f0;
    text-align:center;
}
.profile-image{
    margin-bottom:20px;
}
.tcont{
    position:relative;
    max-width:500px;
    height:auto;
    border-radius:5px;
    background-color:#fbe4f0;
}
#skills{
    background-color:#fbe4f0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:8px;
    border-radius:10px;
}
#projects {
    padding: 20px;
    background-color:#fbe4f0;
    margin-top:8px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    text-align:center;
  }
  
  .pm {
    display:flex;
    flex-direction:column;
  }
  .project {
    margin-bottom: 20px;
    display:inline;
  }
  
  .project h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 10px;
  }
  
  .project a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f9fbfdb8;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .project a:hover {
    background-color: #59a9ff;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #712cf9;
    color: #fff;
    padding: 5px;
    text-align: center;
  }

.contact-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .contact-links li:not(:last-child) {
    margin-right: 10px;
  }
  
  .contact-links a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .contact-links a:hover {
    background-color: #333;
    color: #fff;
  }
  #contact{
    background-color:#fbe4f0;
    margin-top:8px;
    border-radius:10px;
    padding-left:10px;
    padding-bottom:150px;

  }